<% form_tag '/rsvp', method: :post, id: 'rsvp-form' do %>
  <% field_set_tag do %>
    <table class="rsvp">

      <tr>
        <td>
          <%= label_tag :email, class: 'required'%>
        </td>
        <td>
          <%= text_field_tag :email, id: :email, required: 'required', type: 'email' %>
        </td>

      <tr class="blank-row"><td><br></td></tr>

      <tr>
        <td></td>
        <td>
            <%= radio_button_tag :can_attend, id: 'can_attend_yes', value: 'true' %>
            <%= label_tag :can_attend_yes, caption: "Yes - We will be there!" %>
        </td>
      </tr>
      <tr>
        <td></td>
        <td>
            <%= radio_button_tag :can_attend, id: 'can_attend_no', value: 'false' %>
            <%= label_tag :can_attend_no, caption: 'Sorry - can\'t make it :(' %>
        </td>
      </tr>

      <tr class="meal-choice hidden">
        <td>
          <%= label_tag :name, class: 'required' %>
        </td>
        <td>
          <%= text_field_tag :name, id: :name, required: 'required' %>
        </td>
      </tr>
      <tr class="meal-choice hidden">
        <td>
          <%= label_tag :meal_choice %>
        </td>
        <td>
          <select name="meal_choice">
            <option>Beef</option>
            <option>Chicken</option>
            <option>Vegetarian</option>
          </select>
        </td>
      </tr>

      <tr class="blank-row"><td><br></td></tr>

      <tr class="guest-name hidden">
        <td>
          <%= label_tag :guest, class: 'required'%>
        </td>
        <td>
          <%= text_field_tag :guest, id: :guest, required: 'required' %>
        </td>
      </tr>
      <tr class="meal-choice hidden">
        <td>
          <%= label_tag :guest_meal %>
        </td>
        <td>
          <select name="guest_meal">
            <option>Beef</option>
            <option>Chicken</option>
            <option>Vegetarian</option>
          </select>
        </td>
      </tr>

      <tr class="blank-row"><td><br></td></tr>

      <tr>
        <td></td>
        <td>
          <%= submit_tag 'rsvp' %>
          </td>
      </tr>
    </table>
    <% end %>
<% end %>

<section class="thankyou hidden welcome">
  Thank you for responding - See you on August 29th!
</section>
