<% form_tag '/rsvp', method: :post, id: 'rsvp-form' do %>
  <% field_set_tag do %>
    <table class="rsvp">
      <tr>
        <td>
          <%= label_tag :name %>
        </td>
        <td>
          <%= text_field_tag :name, id: :name %>
        </td>
      </tr>
      <tr>
        <td>
          <%= label_tag :meal_choice %>
        </td>
        <td>
          <select name="meal_choice">
            <option>Beef</option>
            <option>Chicken</option>
            <option>Vegetarian</option>
          </select>
        </td>
      </tr>

      <tr class="blank-row"><td><br></td><tr>

      <tr>
        <td>
          <%= label_tag :guest %>
        </td>
        <td>
          <%= text_field_tag :guest, id: :guest %>
        </td>
      </tr>
        <td>
          <%= label_tag :guest_meal %>
        </td>
        <td>
          <select name="guest_meal">
            <option>Beef</option>
            <option>Chicken</option>
            <option>Vegetarian</option>
          </select>
        </td>
      </tr>

      <tr class="blank-row"><td><br></td><tr>

      <tr>
        <td></td>
        <td>
          <%= submit_tag 'rsvp' %>
          </td>
      </tr>
    </table>
    <% end %>
<% end %>

<section class="thankyou hidden welcome">
  Thank you for responding - See you on August 29th!
</section>
